@import url("https://use.typekit.net/xzu2rwz.css");

@tailwind base;

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@tailwind components;
@tailwind utilities;
